$color-text: #274035;
$color-background: #F5F5F5;
$color-dark: #D8D8D8;

$font-text: "Playfair Display", serif;
$font-text-body: "Inter", sans-serif;

$radius: 5px;
$base-size: 12px;
$half-size: 6px;
$transition: all 0.5s;
